.gui{
    border: 5px solid black;
    width:500px;
    height:500px;
    border-radius: 10px;
    text-align:center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
}

#textArea{
    font-weight:bold;
}

.bottom{
    width:100%;
}

#input{
    margin:20px;
    width:80%;
}

.cells{
    overflow:scroll;
}

.cell{
    text-align:left;
    display:flex;
    vertical-align: middle;
    flex-wrap:wrap;
    margin-top:20px;
    justify-content:space-between;
}

.cellSepa{
    flex-shrink: 0; 
    width:25px;
}

.cellImg, .cellText{
    border:1px solid black;
    border-radius: 50px;
    background:lightgray;
}

.cellImg{
    width:50px;
    height:50px;
    flex-shrink: 0; 
    margin:auto;
}

.cellText{
    padding: 15 10 15 10;
}

.cellData{
    display:flex;
    justify-content:center;
    flex-direction: row;
}

.cellName{
    width:100%;
    margin-left:75px;
    font-size:10px;
}